@font-face {
    font-family: jolie_cursive;
    src: url(Caroline.otf);
  }

  @font-face {
    font-family: police_corps;
    src: url(CormorantGaramond-Regular.ttf);
  }

body {
    font-family: police_corps;
    margin:0px;
    background-image: url("bandeau.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 720px) {
    body {
        background-size: 720px /* Force the image to its minimum width */
    }
}

.bandeau {
    position:absolute;
    top:0;
}

petit-de {
    font-size: clamp(2rem,4vw,4rem);
}

mathilde-maxime  {
    line-height: clamp(4rem,8vw,8rem);
}

bandeau-haut {
    line-height: clamp(2rem,4vw,4rem);
    display:block;
    font-size: clamp(4rem,8vw,8rem);
    width: 75vw;
    margin:clamp(2rem,6vw,6vw) auto 0 auto;
    text-align: center;
    font-family: jolie_cursive;
    transition-duration: 1s;
    transition-property: transform;
}

bandeau-haut:hover {
    transform: scale(1.1);
}

nav-entete {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(143px,1fr));
    font-size: clamp(1.5rem,2.5vw,3rem);
    justify-items: center;
    margin-top: 2vw;
}

nav-entete > a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
    margin-top:6vh;
}

.soon {
    color:rgb(161, 161, 161);
}

nav-entete > a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: '';
    -webkit-transform: translateY(8px);
    opacity: 0;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
  }

.ready:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

citation-mariage {
    display: flex;
    height:58vh;
    padding: 0 30px 0 30px;
}

annonce-mariage {
    transition-duration: 2s;
    transition-property: transform;
}

annonce-mariage:hover {
    transform: scale(1.05);
}

annonce-mariage {
    font-size: clamp(2rem,4vw,3rem);
    margin:auto;
}

h2 {
    display:block;
    font-size: clamp(1.5rem,2.5vw,3rem);
    margin-top: 0px;
}

.seul {
    margin:100px 20px 10px 20px;
    text-align: center;
}

.photext {
    margin: 50px 5vw 0 5vw;
    display:grid;
    z-index:2;
    position: relative;
}

.photext.pair {
    grid-template-columns:minmax(400px,1fr) 1fr;
}

.photext.impair {
    grid-template-columns:1fr minmax(400px,1fr);
}

.impair .contenu {
    padding-right: 20px;
    order:1;
}

.contenu {
    font-size: clamp(1.5rem,2.5vw,1.7rem);
    margin: 0 20px 0 20px;
}

.contenu div {
    margin-top:25px;
}

.contenu a {
    text-decoration:none;
}

.contenu a:hover {
    color:#c5cab3;
}

.vert {
    color: #a5aa95;
}
.vert:visited {
    color: #a5aa95;
}

.contenu-marges {
    margin:0 20px 0 20px;
}

adresse-lieu {
    font-size: clamp(1.5rem,2.5vw,3rem);
    margin: auto;
    margin:20px 20px 10px 20px;
}

position-relative {
    position: relative;
}

pave-couleur {
    background-color: #f9f6f5;
    display: block;
    width: 98vw;
    height:34vw;
    position: absolute;
    z-index:1;
    top: 207px;
}

iframe {
    grid-column: 1 / span 2;
    width:99%;
    margin-top:50px;
    order:3;

}

contenu-liste {
    display: block;
    text-align: center;
}

.dessin {
    margin:auto;
    display:block;
}

footer {
    display: block;
    text-align: center;
    font-size: clamp(1rem,2.5vw,2rem);
}

footer a {
    text-decoration:none;
}

footer a:hover {
    color:#c5cab3;
}

img {
    display:block;
    margin-bottom: 20px;
}

#chateau {
    width: 97%;
}
#fleurs {
    width: 100%;
    order:2;
}
#nous {
    width: 100%;
}

@media (max-width: 900px) {
    .photext {
        margin:50px auto auto auto;
      }

    .photext.pair {
      grid-template-columns: 1fr;
    }

    .photext.impair {
      grid-template-columns: 1fr;
    }

    #fleurs {
        order:1;
    }

    iframe {
        grid-column: 1 / span 1;
    }
  }




  
  button {
    box-shadow: none;
    background: transparent;
    transform-style: preserve-3d;
    padding: 0;
    height: auto;
    float: none;
    appearance: none;
    border: none;
    letter-spacing: 1px;
    margin: 7vh;
}

button span {
    font-size: 2rem;
    color: #a5aa95;
    padding: 1rem 2rem;
    line-height: 3rem;
    will-change: transform, filter;
    float: none;
    margin: 0;
    transition: all 0.15s ease-out;
    height: auto;
    border-radius: 100px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    display: block;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0,0,0,0.3));
    font-weight: 500;
    perspective-origin: 0 0;
    letter-spacing: 0;
    border: .2em solid;
}